<nav class="navbar navbar-expand-lg navbar-dark bg-dark mdg-nav">
  <div class="container">
    <a class="navbar-brand" href="/" style="margin-top: 2px; margin-bottom: 3px">
      <img src="/assets/images/trucol-circle-logo.svg" height="23" class="d-inline-block align-top" alt="TruCol Protocol" style="margin-top: 4px; padding-right: 10px">
      The TruCol Protocol
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="margin-top: 2px">
      <div class="navbar-nav">
        <a class="nav-item nav-link {% if page.title == 'Protocol' %}active{% endif %}" href="/protocol/">Protocol</a>
        <a class="nav-item nav-link {% if page.title == 'Getting Started' %}active{% endif %}" href="/getting-started/">Getting Started</a>
<!--         <a class="nav-item nav-link {% if page.title == 'Roadmap' %}active{% endif %}" href="/roadmap/">Roadmap</a> -->
        <a class="nav-item nav-link {% if page.title == 'About us' %}active{% endif %}" href="/about/">About us</a>
        <a class="nav-item nav-link {% if page.title == 'Frequently Asked Questions'%} active{% endif %}" href="/faq/">Frequently Asked Questions</a>
        <a class="nav-item nav-link {% if page.title == 'Contact'%} active{% endif %}" href="/contact/">Contact</a>
      </div>
    </div>
  </div>
</nav>
