<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body data-spy="scroll" data-target="#toc" data-offset="70">
    {% include nav.html %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="no-anchor" data-toc-skip>{{ page.title }}</h1>
        <p>{{ page.description }}</p>
      </div>
    </div>
    <div class="container">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-12">
          {{ content }}
        </div>
      </div>

          {% for team-member in site.team-members %}
            {% assign remainder = forloop.index | modulo:3%}
            {% assign member_first_name = team-member.name | downcase | split: " "  | first %}
            {% if member_first_name == 'chinari'%}
              {% assign member_first_name = 'subhechha'%}
            {% endif %}
            {% if remainder == 1 or forloop.index == 1%}
              <div class="row">
            {% endif %}
            <div class="col-xs-12 col-sm-4">
              <img src="../assets//images/team/{{member_first_name}}.png" class="card-img-top profile-image" alt="...">
              <h2 class="text-positioning no-anchor">{{ team-member.name }} </h2> 
              <h3 class="text-positioning no-anchor">{{ team-member.position }}</h3>
              <p class="text-positioning">{{ team-member.content | markdownify | remove: '<p>' | remove: '</p>'}}</p> <!-- p tags are automatically added and need to be removed-->
            </div>
            {% if remainder == 0 %}
               </div>
            {% endif %}

          {% endfor %}
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>